@charset "UTF-8";

html, body{
    width: 100vw;
    height: 100vh;
}
header{
    background-color: rgba(188, 187, 187, 0.584);
    border-radius: 20px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.252);
    margin: ;
}
header >h1{
    background-color: rgba(165, 164, 164, 0.642);
    border-radius: 30px;
    padding: 27px;
    padding-bottom: 21px;
}
header >p{
    width: 300px;
    padding: 24px;
}
html, body{
    font-size: 0.9em;
    width: 450px;
    margin: auto;
}
article >p{
    text-align: justify;
    padding: 17px;
}
article, h2{
    padding: 20px;
}
img{
    width: 430px;
}
form{
    width: 400px;
    display: block;
    margin: auto;
}
form >fieldset{
    padding: 20px;
    font-size: 1.2em;
    border-radius: 20px;
    margin-bottom: 28px;
}
form > fieldset >p{
    padding: 10px;
}
.mensagem{
    border-radius: 50%;
}