@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}
.indent{
    text-indent: 40px;
}
header{
    text-align: justify;
    padding: 10px;
}
header, h1{
    text-align: center;
    padding: 20px;
}
header >h2{
    padding: 10px;
}
article{
    padding: 30px;
    font-size: 1.3em;
}
.bottom{
    padding: 3px;
    border-radius: 10px;
}